/* line 1, ../../../app/stylesheets/_layout.sass */
body {
  background: url(../../images/twitter-ny-bg.jpg); }

/* line 5, ../../../app/stylesheets/_layout.sass */
#header a, #sidebar a {
  text-decoration: none; }
  /* line 4, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
  #header a:hover, #sidebar a:hover {
    text-decoration: underline; }

/* line 8, ../../../app/stylesheets/_layout.sass */
#header {
  position: relative; }
  /* line 11, ../../../app/stylesheets/_layout.sass */
  #header .navigation {
    background: #fff;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
    /* line 19, ../../../app/stylesheets/_layout.sass */
    #header .navigation ul {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      overflow: hidden;
      display: inline-block; }
      /* line 5, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
      #header .navigation ul {
        display: block; }
      /* line 50, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #header .navigation ul li {
        list-style-type: none;
        margin-left: 0px;
        white-space: nowrap;
        display: inline;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        /* line 40, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        #header .navigation ul li.first {
          padding-left: 0px; }
        /* line 42, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        #header .navigation ul li.last {
          padding-right: 0px; }
  /* line 22, ../../../app/stylesheets/_layout.sass */
  #header .logo {
    float: left; }
    /* line 26, ../../../app/stylesheets/_layout.sass */
    #header .logo a h1 {
      text-indent: -9999em;
      overflow: hidden;
      background-image: url('/images/140-mk-logo.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 200px;
      height: 84px; }

/* line 31, ../../../app/stylesheets/_layout.sass */
#main-content, #sidebar, #footer {
  background: #fff;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; }

/* line 36, ../../../app/stylesheets/_layout.sass */
#sidebar .content {
  padding: 10px;
  text-align: right; }

/* line 40, ../../../app/stylesheets/_layout.sass */
#footer {
  padding: 20px;
  margin-top: 10px; }

/* line 7, ../../../app/stylesheets/application.sass */
#flash.error {
  color: red; }

/* line 10, ../../../app/stylesheets/application.sass */
#flash.notice {
  color: green; }

/* line 14, ../../../app/stylesheets/application.sass */
#categories h1 {
  background: #0094DA;
  color: #fff;
  text-align: center;
  margin: 5px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; }
/* line 21, ../../../app/stylesheets/application.sass */
#categories #twitter_create_list {
  cursor: pointer; }
/* line 24, ../../../app/stylesheets/application.sass */
#categories #twitter_create_list_form {
  display: none; }

/* line 27, ../../../app/stylesheets/application.sass */
.category, #hashtag_filter {
  background: #E1F3FD;
  margin-top: 10px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  margin-right: 0px;
  margin-left: 7px;
  position: relative; }
  /* line 36, ../../../app/stylesheets/application.sass */
  .category h2, #hashtag_filter h2 {
    background: #0094DA;
    color: #fff;
    font-size: 1.4em;
    margin: 5px;
    text-align: center;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
    /* line 44, ../../../app/stylesheets/application.sass */
    .category h2 a, #hashtag_filter h2 a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
      /* line 4, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
      .category h2 a:hover, #hashtag_filter h2 a:hover {
        text-decoration: underline; }
  /* line 49, ../../../app/stylesheets/application.sass */
  .category .tabs, #hashtag_filter .tabs {
    position: absolute;
    top: 40px;
    right: 20px; }
    /* line 54, ../../../app/stylesheets/application.sass */
    .category .tabs a, #hashtag_filter .tabs a {
      color: #666;
      font-weight: bold;
      text-decoration: none; }
      /* line 4, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
      .category .tabs a:hover, #hashtag_filter .tabs a:hover {
        text-decoration: underline; }
    /* line 59, ../../../app/stylesheets/application.sass */
    .category .tabs .selected, #hashtag_filter .tabs .selected {
      background: #fff;
      padding: 4px;
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px; }
  /* line 64, ../../../app/stylesheets/application.sass */
  .category .users, #hashtag_filter .users {
    display: none; }
  /* line 67, ../../../app/stylesheets/application.sass */
  .category .tweets, .category .users, #hashtag_filter .tweets, #hashtag_filter .users {
    background: #fff;
    margin: 27px 5px 5px 5px;
    padding: 5px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
    /* line 73, ../../../app/stylesheets/application.sass */
    .category .tweets .tweet, .category .users .tweet, #hashtag_filter .tweets .tweet, #hashtag_filter .users .tweet {
      padding: 10px 5px;
      border-bottom: 1px dashed #999;
      min-height: 45px; }
      /* line 78, ../../../app/stylesheets/application.sass */
      .category .tweets .tweet .body, .category .users .tweet .body, #hashtag_filter .tweets .tweet .body, #hashtag_filter .users .tweet .body {
        color: #666;
        font-size: 0.9em;
        padding-left: 55px; }
        /* line 83, ../../../app/stylesheets/application.sass */
        .category .tweets .tweet .body .when, .category .users .tweet .body .when, #hashtag_filter .tweets .tweet .body .when, #hashtag_filter .users .tweet .body .when {
          font-weight: bold; }
      /* line 86, ../../../app/stylesheets/application.sass */
      .category .tweets .tweet img, .category .users .tweet img, #hashtag_filter .tweets .tweet img, #hashtag_filter .users .tweet img {
        float: left;
        width: 48px;
        height: 48px; }

/* line 91, ../../../app/stylesheets/application.sass */
#hashtag_filter {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 260px; }
  /* line 94, ../../../app/stylesheets/application.sass */
  #hashtag_filter .tweets {
    margin: 5px 5px 5px 5px; }
