/* line 1, ../../../app/stylesheets/_facebox.sass */
.modal {
  display: none;
  width: 400px;
  border: 10px solid #666;
  border: 10px solid rgba(82, 82, 82, 0.698);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }
  /* line 9, ../../../app/stylesheets/_facebox.sass */
  .modal div {
    padding: 10px;
    border: 1px solid #3B5998;
    background-color: #fff;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif; }
  /* line 15, ../../../app/stylesheets/_facebox.sass */
  .modal h2 {
    margin: -11px;
    margin-bottom: 0px;
    color: #fff;
    background-color: #6D84B4;
    padding: 5px 10px;
    border: 1px solid #3B5998;
    font-size: 20px; }

/* line 1, ../../../app/stylesheets/_layout.sass */
body {
  background: #fff url(../../images/background.png) repeat-x; }

/* line 5, ../../../app/stylesheets/_layout.sass */
#header a, #sidebar a {
  text-decoration: none; }
  /* line 4, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
  #header a:hover, #sidebar a:hover {
    text-decoration: underline; }

/* line 8, ../../../app/stylesheets/_layout.sass */
#header {
  background: url(../../images/header-bg.png) no-repeat 150px 0;
  border-bottom: 1px solid #474e55;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative; }
  /* line 17, ../../../app/stylesheets/_layout.sass */
  #header .navigation {
    color: #474e55;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px; }
    /* line 24, ../../../app/stylesheets/_layout.sass */
    #header .navigation ul {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      overflow: hidden;
      display: inline-block; }
      /* line 5, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
      #header .navigation ul {
        display: block; }
      /* line 50, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #header .navigation ul li {
        list-style-type: none;
        margin-left: 0px;
        white-space: nowrap;
        display: inline;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        /* line 40, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        #header .navigation ul li.first {
          padding-left: 0px; }
        /* line 42, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        #header .navigation ul li.last {
          padding-right: 0px; }
      /* line 27, ../../../app/stylesheets/_layout.sass */
      #header .navigation ul a {
        color: #474e55;
        font-size: 0.9em;
        font-weight: bold;
        text-transform: uppercase; }
  /* line 34, ../../../app/stylesheets/_layout.sass */
  #header .user {
    background: #fff;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
    /* line 42, ../../../app/stylesheets/_layout.sass */
    #header .user ul {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      overflow: hidden;
      display: inline-block; }
      /* line 5, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
      #header .user ul {
        display: block; }
      /* line 50, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #header .user ul li {
        list-style-type: none;
        margin-left: 0px;
        white-space: nowrap;
        display: inline;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        /* line 40, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        #header .user ul li.first {
          padding-left: 0px; }
        /* line 42, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        #header .user ul li.last {
          padding-right: 0px; }
  /* line 45, ../../../app/stylesheets/_layout.sass */
  #header .logo {
    float: left;
    margin-left: 20px; }
    /* line 50, ../../../app/stylesheets/_layout.sass */
    #header .logo a h1 {
      text-indent: -9999em;
      overflow: hidden;
      background-image: url('/images/140-mk-logo.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 200px;
      height: 84px; }

/* line 60, ../../../app/stylesheets/_layout.sass */
#footer {
  padding: 20px;
  margin-top: 10px; }

/* line 8, ../../../app/stylesheets/application.sass */
#flash {
  text-align: center;
  padding: 5px; }

/* line 12, ../../../app/stylesheets/application.sass */
#flash.error {
  color: red; }

/* line 15, ../../../app/stylesheets/application.sass */
#flash.notice {
  color: green; }

/* line 18, ../../../app/stylesheets/application.sass */
#main-content {
  margin-right: 0; }

/* line 22, ../../../app/stylesheets/application.sass */
#categories h1 {
  background: #0094DA;
  color: #fff;
  text-align: center;
  margin: 5px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; }
/* line 29, ../../../app/stylesheets/application.sass */
#categories #twitter_create_list {
  cursor: pointer; }
/* line 32, ../../../app/stylesheets/application.sass */
#categories #twitter_create_list_form {
  display: none; }

/* line 35, ../../../app/stylesheets/application.sass */
.category, #hashtag_filter {
  background: #bfd9e6;
  margin-top: 10px;
  float: left;
  width: 325px;
  margin-right: 12px;
  margin-left: 0px;
  position: relative; }
  /* line 44, ../../../app/stylesheets/application.sass */
  .category h2, #hashtag_filter h2 {
    background: url(../../images/category-bg.png) no-repeat;
    color: #fff;
    font-size: 1.4em;
    font-family: "Lucida Grande";
    height: 46px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 5px;
    position: relative;
    text-shadow: 1px 1px 2px #666;
    width: 315px; }
    /* line 57, ../../../app/stylesheets/application.sass */
    .category h2 a, #hashtag_filter h2 a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
      /* line 4, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
      .category h2 a:hover, #hashtag_filter h2 a:hover {
        text-decoration: underline; }
    /* line 62, ../../../app/stylesheets/application.sass */
    .category h2 .tabs, #hashtag_filter h2 .tabs {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px; }
      /* line 68, ../../../app/stylesheets/application.sass */
      .category h2 .tabs a, #hashtag_filter h2 .tabs a {
        display: block;
        float: left;
        margin-left: 2px;
        padding: 3px;
        width: 10px;
        height: 12px;
        text-decoration: none; }
        /* line 4, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
        .category h2 .tabs a:hover, #hashtag_filter h2 .tabs a:hover {
          text-decoration: underline; }
      /* line 77, ../../../app/stylesheets/application.sass */
      .category h2 .tabs .selected, #hashtag_filter h2 .tabs .selected {
        background: #fff; }
      /* line 80, ../../../app/stylesheets/application.sass */
      .category h2 .tabs a.users_link, #hashtag_filter h2 .tabs a.users_link {
        text-indent: -9999em;
        overflow: hidden;
        background-image: url('/images/icon-user-unselected.png');
        background-repeat: no-repeat;
        background-position: 50% 50%; }
      /* line 83, ../../../app/stylesheets/application.sass */
      .category h2 .tabs a.users_link.selected, #hashtag_filter h2 .tabs a.users_link.selected {
        text-indent: -9999em;
        overflow: hidden;
        background-image: url('/images/icon-user-selected.png');
        background-repeat: no-repeat;
        background-position: 50% 50%; }
      /* line 87, ../../../app/stylesheets/application.sass */
      .category h2 .tabs a.tweets_link, #hashtag_filter h2 .tabs a.tweets_link {
        text-indent: -9999em;
        overflow: hidden;
        background-image: url('/images/icon-tweet-unselected.png');
        background-repeat: no-repeat;
        background-position: 50% 50%; }
      /* line 90, ../../../app/stylesheets/application.sass */
      .category h2 .tabs a.tweets_link.selected, #hashtag_filter h2 .tabs a.tweets_link.selected {
        text-indent: -9999em;
        overflow: hidden;
        background-image: url('/images/icon-tweet-selected.png');
        background-repeat: no-repeat;
        background-position: 50% 50%; }
  /* line 93, ../../../app/stylesheets/application.sass */
  .category .users, #hashtag_filter .users {
    display: none; }
  /* line 96, ../../../app/stylesheets/application.sass */
  .category .tweets, .category .users, #hashtag_filter .tweets, #hashtag_filter .users {
    margin: 0 5px 5px 5px;
    padding: 5px; }
    /* line 100, ../../../app/stylesheets/application.sass */
    .category .tweets .tweet, .category .users .tweet, #hashtag_filter .tweets .tweet, #hashtag_filter .users .tweet {
      background: #fff;
      padding: 10px 10px;
      min-height: 45px;
      margin-bottom: 10px;
      box-shadow: 0 0 10px #9dc2d5;
      -moz-box-shadow: 0 0 10px #9dc2d5;
      -webkit-box-shadow: 0 0 10px #9dc2d5;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px; }
      /* line 110, ../../../app/stylesheets/application.sass */
      .category .tweets .tweet .body, .category .users .tweet .body, #hashtag_filter .tweets .tweet .body, #hashtag_filter .users .tweet .body {
        color: #666;
        font-size: 0.9em;
        padding-left: 65px; }
        /* line 116, ../../../app/stylesheets/application.sass */
        .category .tweets .tweet .body .who a, .category .users .tweet .body .who a, #hashtag_filter .tweets .tweet .body .who a, #hashtag_filter .users .tweet .body .who a {
          color: #000;
          text-decoration: none; }
          /* line 4, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
          .category .tweets .tweet .body .who a:hover, .category .users .tweet .body .who a:hover, #hashtag_filter .tweets .tweet .body .who a:hover, #hashtag_filter .users .tweet .body .who a:hover {
            text-decoration: underline; }
        /* line 120, ../../../app/stylesheets/application.sass */
        .category .tweets .tweet .body .when, .category .users .tweet .body .when, #hashtag_filter .tweets .tweet .body .when, #hashtag_filter .users .tweet .body .when {
          color: #bbb; }
      /* line 123, ../../../app/stylesheets/application.sass */
      .category .tweets .tweet img, .category .users .tweet img, #hashtag_filter .tweets .tweet img, #hashtag_filter .users .tweet img {
        border: 1px dotted #9dc2d5;
        float: left;
        padding: 1px;
        width: 48px;
        height: 48px; }

/* line 130, ../../../app/stylesheets/application.sass */
#hashtag_filter {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 272.174px;
  margin-left: 0; }
  /* line 134, ../../../app/stylesheets/application.sass */
  #hashtag_filter h2 {
    background: #373d44;
    border-bottom: 1px solid #f6fbfe;
    color: #fff;
    font-size: 1.4em;
    font-family: "Lucida Grande";
    height: 36px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 5px;
    position: relative;
    text-shadow: 1px 1px 2px #666;
    width: 262px; }
    /* line 148, ../../../app/stylesheets/application.sass */
    #hashtag_filter h2 a {
      display: block;
      float: left;
      margin-left: 2px;
      padding: 3px;
      width: 10px;
      height: 12px;
      text-decoration: none; }
      /* line 4, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
      #hashtag_filter h2 a:hover {
        text-decoration: underline; }
  /* line 157, ../../../app/stylesheets/application.sass */
  #hashtag_filter .tweets {
    margin: 5px 5px 5px 5px; }

/* line 162, ../../../app/stylesheets/application.sass */
#category_show h2 {
  background: #0094DA;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  margin: 5px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; }
/* line 170, ../../../app/stylesheets/application.sass */
#category_show #twitter_create_list {
  cursor: pointer; }
/* line 173, ../../../app/stylesheets/application.sass */
#category_show #twitter_create_list_form {
  display: none; }
/* line 176, ../../../app/stylesheets/application.sass */
#category_show .category {
  margin-top: 5px; }
  /* line 179, ../../../app/stylesheets/application.sass */
  #category_show .category .tweets {
    margin-top: 5px; }

/* line 185, ../../../app/stylesheets/application.sass */
#draggable, #droppable {
  border: 1px dashed #FF0000;
  min-height: 50px;
  margin: 5px; }

/* line 189, ../../../app/stylesheets/application.sass */
#draggable span, #droppable span {
  padding: 2px;
  cursor: move; }

/* line 193, ../../../app/stylesheets/application.sass */
.users_list {
  background: #E1F3FD;
  margin: 10px;
  padding: 2px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; }
  /* line 199, ../../../app/stylesheets/application.sass */
  .users_list h2 {
    background: #0094DA;
    color: #fff;
    font-size: 1.4em;
    margin: 5px;
    text-align: center;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
  /* line 207, ../../../app/stylesheets/application.sass */
  .users_list .users {
    background: #fff;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
    /* line 213, ../../../app/stylesheets/application.sass */
    .users_list .users .tweet {
      padding: 10px 5px;
      border-bottom: 1px dashed #999;
      min-height: 45px; }
      /* line 218, ../../../app/stylesheets/application.sass */
      .users_list .users .tweet .body {
        color: #666;
        font-size: 0.9em;
        padding-left: 55px; }
        /* line 223, ../../../app/stylesheets/application.sass */
        .users_list .users .tweet .body .when {
          font-weight: bold; }
      /* line 227, ../../../app/stylesheets/application.sass */
      .users_list .users .tweet img {
        float: left;
        width: 48px;
        height: 48px; }

/* line 233, ../../../app/stylesheets/application.sass */
.lists_list {
  background: #E1F3FD;
  margin: 10px;
  padding: 2px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; }
  /* line 239, ../../../app/stylesheets/application.sass */
  .lists_list h2 {
    background: #0094DA;
    color: #fff;
    font-size: 1.4em;
    margin: 5px;
    text-align: center;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
  /* line 247, ../../../app/stylesheets/application.sass */
  .lists_list .lists {
    background: #fff;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
    /* line 253, ../../../app/stylesheets/application.sass */
    .lists_list .lists .body {
      padding: 10px 5px;
      border-bottom: 1px dashed #999;
      height: 30px;
      color: #666;
      font-size: 0.9em;
      padding-left: 15px; }
      /* line 261, ../../../app/stylesheets/application.sass */
      .lists_list .lists .body .when {
        font-weight: bold; }

/* line 264, ../../../app/stylesheets/application.sass */
.pagination {
  text-align: center; }

/* line 267, ../../../app/stylesheets/application.sass */
#create_list_from_category {
  background: #E1F3FD;
  margin: 10px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  position: relative;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 272.174px; }
  /* line 274, ../../../app/stylesheets/application.sass */
  #create_list_from_category p {
    margin: 10px;
    text-align: center; }
  /* line 278, ../../../app/stylesheets/application.sass */
  #create_list_from_category label {
    margin-left: 5px;
    width: 70px;
    display: inline-block; }
  /* line 283, ../../../app/stylesheets/application.sass */
  #create_list_from_category input {
    margin: 3px; }
  /* line 286, ../../../app/stylesheets/application.sass */
  #create_list_from_category input[type=text] {
    width: 120px; }
  /* line 289, ../../../app/stylesheets/application.sass */
  #create_list_from_category input[type=submit] {
    margin-left: 83px; }
  /* line 292, ../../../app/stylesheets/application.sass */
  #create_list_from_category h2 {
    background: #0094DA;
    color: #fff;
    font-size: 1.4em;
    margin: 5px;
    text-align: center;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
    /* line 300, ../../../app/stylesheets/application.sass */
    #create_list_from_category h2 a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
      /* line 4, ../../../../../../../var/lib/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
      #create_list_from_category h2 a:hover {
        text-decoration: underline; }

/* line 307, ../../../app/stylesheets/application.sass */
#sidebar .content .user {
  background: #bfd9e6;
  margin-top: 10px;
  padding: 15px;
  width: 242px; }
  /* line 313, ../../../app/stylesheets/application.sass */
  #sidebar .content .user .options {
    background: #fff;
    padding: 5px; }
    /* line 317, ../../../app/stylesheets/application.sass */
    #sidebar .content .user .options img {
      border: 1px dotted #9dc2d5;
      float: left;
      padding: 1px;
      width: 48px;
      height: 48px; }
    /* line 324, ../../../app/stylesheets/application.sass */
    #sidebar .content .user .options .greeting {
      color: #04abe2;
      font-weight: bold;
      padding-left: 60px; }
      /* line 329, ../../../app/stylesheets/application.sass */
      #sidebar .content .user .options .greeting a {
        color: #04abe2; }
    /* line 332, ../../../app/stylesheets/application.sass */
    #sidebar .content .user .options .links {
      font-size: 0.85em;
      padding-left: 60px; }
      /* line 336, ../../../app/stylesheets/application.sass */
      #sidebar .content .user .options .links a {
        color: #000; }

/* line 339, ../../../app/stylesheets/application.sass */
.clear {
  clear: both; }
