$('#edit_configuration_1').hide();
- content = render :partial => 'configurations/edit_today_topic', :locals => { :configuration => @configuration }
$('#hashtag_filter h2').html("#{escape_javascript(content)}");
