%h1
  = t('user.title')

- for user in @users
  %p
    = link_to user.screen_name, user.screen_name
    (
    = t('global.time_ago', :time => time_ago_in_words(user.created_at))
    )
  %p
    = will_paginate @users
