#hashtag_filter
  %h2
    = render :partial => 'configurations/edit_today_topic', :locals => { :configuration => @configuration }

  .tweets{:id => "tweets_hashtag"}
    = render :partial => 'welcome/tweets', :locals => { :tweets => @filtered_tweets, :name => "fail" }

  .nav
    .link.left{"data-hashtag" => @configuration.today_topic, "data-offset" => 0}= link_to t('global.newer')
    .link.right{"data-hashtag" => @configuration.today_topic, "data-offset" => 0}= link_to t('global.older')
    .clear

  // = periodically_call_remote(:url => { :controller => 'tweets', :action => 'refresh', :category_id => 'hashtag' }, :update => "tweets_hashtag", :complete => "reBindOverlays()")
