#trends
  %h2= t('trends.title')
  .topics
    - @trending_tags.each_with_index do |tag, index|
      .item= link_to "##{tag.name}", tag_path(tag)
  .all_trends
    .option-box
      = link_to t('trends.view_all'), tags_path
