.option-box
  background: #fff
  padding: 8px
  +border-radius(6px)


.sidebox
  background: #fff
  margin-top: 10px
  margin-left: auto
  margin-right: auto
  padding: 8px
  text-align: center
  width: 50px
  +border-radius(12px)

  a
    color: #000
  
    &:hover
      color: #666

  .counter
    font-size: 2em
    font-weight: bold

  