@import 960/grid.sass
@import base.sass
@import border_radius
@import compass/utilities.sass
@import layout.sass

#flash
  text-align: center
  padding: 5px

#flash.error
  color: red

#flash.notice
  color: green

#categories
  h1
    background: #0094DA
    color: #fff
    text-align: center
    margin: 5px
    +border-radius(12px)

  #twitter_create_list
    cursor: pointer

  #twitter_create_list_form
    display: none

.category, #hashtag_filter
  background: #E1F3FD
  margin-top: 10px
  +grid(8,24)
  +border-radius(12px)
  margin-right: 0px
  margin-left: 7px
  position: relative

  h2
    background: #0094DA
    color: #fff
    font-size: 1.4em
    margin: 5px
    text-align: center
    +border-radius(12px)

    a
      color: #fff
      font-weight: bold
      +hover-link

  .tabs
    position: absolute
    top: 40px
    right: 20px

    a
      color: #666
      font-weight: bold
      +hover-link

    .selected
      background: #fff
      padding: 4px
      +border-radius(6px)

  .users
    display: none

  .tweets, .users
    background: #fff
    margin: 27px 5px 5px 5px
    padding: 5px
    +border-radius(12px)

    .tweet
      padding: 10px 5px
      border-bottom: 1px dashed #999
      min-height: 45px

      .body
        color: #666
        font-size: 0.9em
        padding-left: 55px

        .when
          font-weight: bold

      img
        float: left
        width: 48px
        height: 48px

#category_show

  h2
    background: #0094DA
    color: #fff
    text-align: center
    font-size: 1.4em
    margin: 5px
    +border-radius(12px)

  #twitter_create_list
    cursor: pointer

  #twitter_create_list_form
    display: none

  .category
    margin-top: 5px

    .tweets
      margin-top: 5px

#hashtag_filter
  +grid(7,23)

  .tweets
    margin: 5px 5px 5px 5px

    
#draggable, #droppable
  border: 1px dashed #FF0000
  min-height: 50px
  margin: 5px
#draggable span, #droppable span
  padding: 2px
  cursor: move

.users_list
  background: #E1F3FD
  margin: 10px
  padding: 2px
  +border-radius(12px)

  h2
    background: #0094DA
    color: #fff
    font-size: 1.4em
    margin: 5px
    text-align: center
    +border-radius(12px)

  .users
    background: #fff
    margin: 10px 5px 5px 5px
    padding: 5px
    +border-radius(12px)

    .tweet
      padding: 10px 5px
      border-bottom: 1px dashed #999
      min-height: 45px

      .body
        color: #666
        font-size: 0.9em
        padding-left: 55px

        .when
          font-weight: bold


      img
        float: left
        width: 48px
        height: 48px


.lists_list
  background: #E1F3FD
  margin: 10px
  padding: 2px
  +border-radius(12px)

  h2
    background: #0094DA
    color: #fff
    font-size: 1.4em
    margin: 5px
    text-align: center
    +border-radius(12px)

  .lists
    background: #fff
    margin: 10px 5px 5px 5px
    padding: 5px
    +border-radius(12px)

    .body
      padding: 10px 5px
      border-bottom: 1px dashed #999
      height: 30px
      color: #666
      font-size: 0.9em
      padding-left: 15px

      .when
        font-weight: bold

.pagination
  text-align: center

#create_list_from_category
  background: #E1F3FD
  margin: 10px
  +border-radius(12px)
  position: relative
  +grid(7,23)

  p
    margin: 10px
    text-align: center

  label
    margin-left: 5px
    width: 70px
    display: inline-block

  input
    margin: 3px

  input[type=text]
    width: 120px

  input[type=submit]
    margin-left: 83px

  h2
    background: #0094DA
    color: #fff
    font-size: 1.4em
    margin: 5px
    text-align: center
    +border-radius(12px)

    a
      color: #fff
      font-weight: bold
      +hover-link
