@import 960/grid.sass
@import base.sass
@import border_radius
@import compass/utilities.sass
@import layout.sass


#categories
  .category
    background: #E1F3FD
    margin-top: 10px
    +grid(8,24)
    +border-radius(12px)
    margin-right: 0px
    margin-left: 7px

    h2
      background: #0094DA
      color: #fff
      text-align: center
      +border-radius(12px)

    .tweets
      padding: 5px

      .tweet
        padding: 10px 5px
        border-bottom: 1px dashed #999

        .body
          color: #666
          font-size: 0.9em          
          padding-left: 55px

          .when
            font-weight: bold

        img
          float: left          
          width: 48px
          height: 48px

    
    

