@import 960/grid.sass
@import base.sass
@import border_radius.sass
@import facebox.sass
@import compass/utilities.sass
@import layout.sass

#flash
  text-align: center
  padding: 5px

#flash.error
  color: red

#flash.notice
  color: green

#main-content
  margin-right: 0

#categories
  h1
    background: #0094DA
    color: #fff
    text-align: center
    margin: 5px
    +border-radius(12px)

  #twitter_create_list
    cursor: pointer

  #twitter_create_list_form
    display: none

.category, #hashtag_filter, .modal
  background: #bfd9e6
  margin-top: 10px
  float: left
  width: 325px
  margin-right: 12px
  margin-left: 0px
  position: relative

  h2
    background: url(../../images/category-bg.png) no-repeat
    color: #fff
    font-size: 1.4em
    font-family: "Lucida Grande"
    height: 46px
    margin-bottom: 0
    padding-left: 10px
    padding-top: 5px
    position: relative
    text-shadow: 1px 1px 2px #666
    width: 315px

    a
      color: #fff
      font-weight: bold
      +hover-link

    .tabs
      position: absolute
      top: 10px
      right: 10px
      width: 40px

      a
        display: block
        float: left
        margin-left: 2px
        padding: 3px        
        width: 10px
        height: 12px
        +hover-link

      .selected
        background: #fff

      a.users_link
        +replace-text("icon-user-unselected.png")

      a.users_link.selected

        +replace-text("icon-user-selected.png")

      a.tweets_link
        +replace-text("icon-tweet-unselected.png")

      a.tweets_link.selected
        +replace-text("icon-tweet-selected.png")

  .users
    display: none

  .tweets, .users
    margin: 0 5px 5px 5px
    padding: 5px

    .tweet
      background: #fff
      padding: 10px 10px      
      min-height: 45px
      margin-bottom: 10px
      box-shadow: 0 0 10px #9dc2d5
      -moz-box-shadow: 0 0 10px #9dc2d5
      -webkit-box-shadow: 0 0 10px #9dc2d5
      +border-radius(4px)

      .body
        color: #666
        font-size: 0.9em
        padding-left: 65px

        .who
          a
            color: #000
            +hover-link

        .when
          color: #bbb          

      img
        border: 1px dotted #9dc2d5
        float: left
        padding: 1px
        width: 48px
        height: 48px

#hashtag_filter
  +grid(7,23)
  margin-left: 0

  h2
    background: #373d44
    border-bottom: 1px solid #f6fbfe
    color: #fff
    font-size: 1.4em
    font-family: "Lucida Grande"
    height: 36px
    margin-bottom: 0
    padding-left: 10px
    padding-top: 5px
    position: relative
    text-shadow: 1px 1px 2px #666
    width: 262px
    
    a
      display: block
      float: left
      margin-left: 2px
      padding: 3px
      width: 10px
      height: 12px
      +hover-link

  .tweets
    margin: 5px 5px 5px 5px

.modal
  padding: 10px

  form
    textarea
      height: 130px
      width: 320px


#category_show

  h2
    background: #0094DA
    color: #fff
    text-align: center
    font-size: 1.4em
    margin: 5px
    +border-radius(12px)

  #twitter_create_list
    cursor: pointer

  #twitter_create_list_form
    display: none

  .category
    margin-top: 5px

    .tweets
      margin-top: 5px



    
#draggable, #droppable
  border: 1px dashed #FF0000
  min-height: 50px
  margin: 5px
#draggable span, #droppable span
  padding: 2px
  cursor: move

.users_list
  background: #E1F3FD
  margin: 10px
  padding: 2px
  +border-radius(12px)

  h2
    background: #0094DA
    color: #fff
    font-size: 1.4em
    margin: 5px
    text-align: center
    +border-radius(12px)

  .users
    background: #fff
    margin: 10px 5px 5px 5px
    padding: 5px
    +border-radius(12px)

    .tweet
      padding: 10px 5px
      border-bottom: 1px dashed #999
      min-height: 45px

      .body
        color: #666
        font-size: 0.9em
        padding-left: 55px

        .when
          font-weight: bold


      img
        float: left
        width: 48px
        height: 48px


.lists_list
  background: #E1F3FD
  margin: 10px
  padding: 2px
  +border-radius(12px)

  h2
    background: #0094DA
    color: #fff
    font-size: 1.4em
    margin: 5px
    text-align: center
    +border-radius(12px)

  .lists
    background: #fff
    margin: 10px 5px 5px 5px
    padding: 5px
    +border-radius(12px)

    .body
      padding: 10px 5px
      border-bottom: 1px dashed #999
      height: 30px
      color: #666
      font-size: 0.9em
      padding-left: 15px

      .when
        font-weight: bold

.pagination
  text-align: center

#create_list_from_category
  background: #E1F3FD
  margin: 10px
  +border-radius(12px)
  position: relative
  +grid(7,23)

  p
    margin: 10px
    text-align: center

  label
    margin-left: 5px
    width: 70px
    display: inline-block

  input
    margin: 3px

  input[type=text]
    width: 120px

  input[type=submit]
    margin-left: 83px

  h2
    background: #0094DA
    color: #fff
    font-size: 1.4em
    margin: 5px
    text-align: center
    +border-radius(12px)

    a
      color: #fff
      font-weight: bold
      +hover-link

#sidebar
  .content
    .user
      background: #bfd9e6
      margin-top: 10px
      padding: 15px
      width: 242px

      .options
        background: #fff
        padding: 5px

        img
          border: 1px dotted #9dc2d5
          float: left
          padding: 1px
          width: 48px
          height: 48px

        .greeting
          color: #04abe2
          font-weight: bold
          padding-left: 60px

          a
            color: #04abe2

        .links
          font-size: 0.85em
          padding-left: 60px

          a
            color: #000

.clear
  clear: both