.tweets
  - tweets.each do |tweet|
    .tweet
      = link_to image_tag(tweet.user.photo), twitter_path(tweet.user.screen_name), :target => "_blank"
      .body
        %span.who= link_to h(tweet.user.screen_name), twitter_path(tweet.user.screen_name), :target => "_blank"
        %span.when= t('global.time_ago', :time => time_ago_in_words(tweet.created_at))
        = auto_link(tweet.text)

      .clear
