.users
  - users.each do |user|
    .tweet
      = link_to image_tag(user.photo), user
      .body
        = link_to h(user.screen_name), user_url(user.screen_name)
        %span.when= t('user.created_at', :time => time_ago_in_words(user.created_at))
