%h1>
  = t('subscriptions.listing')

%table
  %tr
    %th
      User
    %th
      List
  - @subscriptions.each do |subscription|
    %tr
      %td
        =h subscription.user.screen_name
      %td
        =h subscription.list.name
      %td
        = link_to t('global.delete'), subscription, :confirm => 'Are you sure?', :method => :delete
%br

= link_to t('global.edit'), edit_subscription_path(:all)
